<div class="well product-well">
  <div class="row">

    <div class="col-xs-7">
      <h4 class="product-name"><%= recipe.escape("name") %>
      </h4>

      <div class="description-text"><%= recipe.escape("ingredients") %></div>
      <p class="edit-product-link"></p>
    </div>
  </div>
</div>
